@import "tailwindcss";



/* Variables globales pour les couleurs et les polices */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pp-neue-montreal);
  --font-mono: var(--font-pp-pangaia);
}

/* Mode sombre automatique */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Configuration de base pour html et body */
html, body {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0;
  overflow-x: hidden;

  color: var(--foreground);

}

/* Style principal du body avec l'image de fond */
body {
  position: relative;
 
  font-family: var(--font-sans);
  

}

/* Création de l'overlay avec effet de flou et cercle transparent */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000; /* Couleur de base de l'overlay */
 

  /* Effet de flou sur l'arrière-plan */
  backdrop-filter: blur(1px); /* Effet de flou */
  -webkit-backdrop-filter: blur(24.9px); /* Support pour Safari */
  opacity: 0.8; /* Transparence de l'overlay */
  z-index: 0; /* Place l'overlay au-dessus de l'image mais sous le contenu */
  
  /* Masque pour créer une ellipse transparente avec bordure blanche */
  /* Écrans exttra-larges (1440px et plus) */
 mask-image: radial-gradient(
    ellipse 271px 260.5px at 60% 42%,
    transparent 90%,
    white 90%,
    white 95%,
    black 92%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 281px 280px at 58% 45%,
    transparent 90%,
    white 90%,
    white 95%, 
    black 92%
  );
} 

/* Assure que le contenu reste au-dessus de l'overlay */
body > * {
  position: relative;
  z-index: 2;
}


  h1{
    font-family: var(--font-pp-pangaia);
    font-weight: 500;
    font-size:96px;
    line-height: 100%;
  font-style: italic;
  }

ul,li{
  list-style: none;
}

li {
  position: relative;
    text-align: center;
    gap: 10px;
}

li::before {
  content: '[ ';
  position: absolute;
  margin-left: -10px;
}

li::after {
  content: ' ]';
  position: absolute;
  margin-left: 5px;
}
